@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7EEE5;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-fixed {
  background-attachment: fixed;
}

.referensi {
  color: rgba(128, 128, 128, 0.9);
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
  margin-bottom: 10px;
  text-align: justify;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out;
}